<div class="home">
  <div class="row col-container">
    <!-- Physicians list section -->
    <div class="col-sm-5 plist">
      <div class="header">
        <h1>Notable</h1>
      </div>
      <div class="section">
        <h3>Physicians</h3>
        <div class="physician-list">
          <ul class="list-group">
            <li *ngFor="let physician of physicians" class="list-group-item" (click)="getAppointments(physician)" [ngClass]="{'active': selectedPhysician == physician}">
              <span>{{physician.lastName}}, {{physician.firstName}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="logout">
        <button class="btn btn-primary">Logout</button>
      </div>
    </div>
    <!-- appointments section -->
    <div class="col-sm-7 alist">
      <div class="physician-detail form-group" *ngIf="selectedPhysician">
        <div class="name">Dr. {{selectedPhysician.firstName}} {{selectedPhysician.lastName}}</div>
        <div class="email">{{selectedPhysician.email}}</div>
      </div>
      <div class="appointments-list table-responsive">
        <table class="table">
            <thead>
                <tr class="info">
                  <th>#</th>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Kind</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments; index as i">
                  <td>{{i+1}}</td>
                  <td>{{appointment.name}}</td>
                  <td>{{appointment.time}}</td>
                  <td>{{appointment.kind}}</td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>