.plist {
    padding: 40px;
    background-color: #e8e8e8;

    li.active {
        background-color: #337ab7;
    }

    .logout {
        text-align: center;
        margin-top: 45px;
    
        button {
            width: 40%;
        }
    }
}
