{
    "root": true,
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "quotes": 0,
        "no-trailing-spaces": 0,
        "eol-last": 0,
        "no-unused-vars": 0,
        "no-underscore-dangle": 0,
        "no-alert": 0,
        "no-lone-blocks": 0,
        "indent": ["error", 4],        
        "semi": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],        
        "no-console": "off"
    }
}
